:root {
  --space-sm: 10px;
  --space-m: 20px;
  --color-sector-exposed: #808080;
  --color-sector-exposed-content: #fff;
  --color-sector-hidden: #c8c8c8;
  --color-sector-empty-destroyed: #e2a6a679;
  --color-sector-destroyed: #c0515179;
  --color-sector-hidden-hover: #b5cbbb;
  --color-sector-exposed-hover: #cbb5b5;
  --color-passive-sector: #ada4e2;
  --color-settings-background: #0000ff;
  --color-sector-shield: #d4af37;
}